<%= @errormessage %>
<%= form_for @q do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field(:title, {class: "form-control", placeholder: "Question Title"}) %>
    <p class="help-block">Enter a title describing your question</p>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", placeholder: "Question Time" %>
    <p class="help-block">Enter your question</p>
  </div>
    <%= f.submit({class: "btn btn-primary"})%>
  <% end %>
<%# now a can be used here, and it is a local variable  %>
